.ImageContainer {
  position: relative;
  width: 100%;
  height: auto;

  justify-content: center;
  align-items: center;
  background-color: rgb(220, 220, 220);
  box-shadow: inset;
}

.Head {
  margin-left: 150px;
  padding-left: 10px;
  font-size: 2rem;
  font-weight: bold;
}

.Aligner {
  padding-top: 130px;
  width: auto;
}

.RevPageCont {
  background-color: whitesmoke;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.Content {
  padding-top: 40px !important;
  display: grid;
  grid-template-columns: 40% 60%;
}

.Contribution {
  padding-left: 80px;
  padding-right: 120px;
}

.RevNote {
  margin-top: 30px !important;
  width: 100%;
}

.Submit {
  margin-top: 30px !important;
  margin-right: 10px !important;
  float: right;
}

.Background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.carImage {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);

  width: 100%;
  height: auto;
}
