.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Splash {
  height: 100%;
}

.BgImg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Greeting {
  position: absolute;
  left: 80%;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: rgba(55, 55, 55, 0.8) !important;
  padding: 20px;
}

.GreetingTitle {
  color: white;
  text-align: center;
}

.GreetingButton {
  margin: 0 auto !important;
}
